html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*
Buttons
===================================================================
######Basic button layout

Creates a basic button. Button type classes can be added by using multiple classes on the `.button` element.

```
<button class="button">
    Basic button
</button>
```
*/
.button {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding: 0px 10px 0px 10px;
  padding: 0rem 0.625rem 0rem 0.625rem;
  height: 48px;
  height: 3rem;
  line-height: 48px;
  line-height: 3rem;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-font-smoothing: inherit;
  display: inline-block;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #0073ae;
  color: #fff;
  float: none;
  /*
    ######Button size class
    Adding a button-size class creates a larger or smaller button or changes the button properies.

    Options: `isLarge`, `isSmall`
    ```
    <button class="button isLarge">
        Large button
    </button>
    ```
    */
  /*
    ######Button type class

    Options: `isPrimary`, `isSecondary`
    ```
    <button class="button isPrimary">
        Primary
    </button>
    ```
    */
}
.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0090c2;
}
.button:focus {
  outline: none;
}
.button small {
  display: block;
  font-weight: 400;
}
.button.isSmall {
  height: 38px;
  height: 2.375rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 38px;
  line-height: 2.375rem;
  font-weight: 700;
}
.button.isLarge {
  height: 62px;
  height: 3.875rem;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 62px;
  line-height: 3.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.button.isLarge small {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 17px;
  line-height: 1.0625rem;
  font-weight: 400;
  text-transform: none;
}
.button.isPrimary {
  background-color: #ff8900;
}
.button.isPrimary:hover {
  background-color: #ff9d2a;
}
.button.isSecondary {
  background-color: #0073ae;
}
.button.isSecondary:hover {
  background-color: #0090c2;
}
textarea,
select,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  -webkit-transition: border-color 0.3s ease;
  -moz-transition: border-color 0.3s ease;
  -ms-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  background-clip: padding-box;
  box-sizing: border-box;
  line-height: 19px;
  line-height: 1.1875rem;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 0px 10px 0px 10px;
  padding: 0rem 0.625rem 0rem 0.625rem;
  margin-top: 10px;
  margin-top: 0.625rem;
  width: 100%;
  background: #fff;
  border: 1px solid transparent;
  color: #585858;
  font-style: italic;
  text-align: left;
  outline: none;
  display: block;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: #0073ae;
}
textarea.has--error,
select.has--error,
input[type="text"].has--error,
input[type="search"].has--error,
input[type="password"].has--error,
input[type="number"].has--error,
input[type="email"].has--error,
input[type="tel"].has--error {
  border-color: #E74C3C;
}
select,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  height: 25px;
  height: 1.5625rem;
}
select.is--small,
input[type="text"].is--small,
input[type="search"].is--small,
input[type="password"].is--small,
input[type="number"].is--small,
input[type="email"].is--small,
input[type="tel"].is--small {
  height: 20px;
  height: 1.25rem;
}
select.is--medium,
input[type="text"].is--medium,
input[type="search"].is--medium,
input[type="password"].is--medium,
input[type="number"].is--medium,
input[type="email"].is--medium,
input[type="tel"].is--medium {
  height: 30px;
  height: 1.875rem;
}
select.is--large,
input[type="text"].is--large,
input[type="search"].is--large,
input[type="password"].is--large,
input[type="number"].is--large,
input[type="email"].is--large,
input[type="tel"].is--large {
  height: 40px;
  height: 2.5rem;
}
textarea {
  resize: vertical;
  padding: 10px 10px 10px 10px;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}
label.has--error {
  color: #E74C3C;
}
/*Select with custom arrow*/
.select-wrapper {
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #fff;
  background-image: -ms-linear-gradient(top, #fff, #d4d4d4);
  background-image: linear-gradient(to bottom, #fff 0%, #d4d4d4 100%);
  margin-top: 10px;
  margin-top: 0.625rem;
}
.select-wrapper select {
  margin-top: 0;
}
select {
  padding-right: 30px;
  padding-right: 1.875rem;
  background-image: url("../resources/images/dropdown.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  color: #585858;
}
/* CAUTION: IE hackery ahead */
select::-ms-expand {
  display: none;
  /* remove default arrow on ie10 and ie11 */
}
::-moz-placeholder {
  color: #585858;
}
::-webkit-input-placeholder {
  color: #585858;
}
:-ms-input-placeholder {
  color: #585858;
}
form {
  display: block;
}
form table {
  width: 100%;
}
form table td {
  padding: 5px 5px 5px 5px;
  padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
}
fieldset {
  padding: 10px 10px 10px 10px;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  border: 1px solid #c7c8cd;
}
.logo {
  -webkit-background-size: 10.125rem 1.4375rem;
  -moz-background-size: 10.125rem 1.4375rem;
  -o-background-size: 10.125rem 1.4375rem;
  -ms-background-size: 10.125rem 1.4375rem;
  background-size: 10.125rem 1.4375rem;
  background-position: center;
  width: 162px;
  width: 10.125rem;
  height: 23px;
  height: 1.4375rem;
  -webkit-background-size: 10.125rem 2.875rem;
  -moz-background-size: 10.125rem 2.875rem;
  -o-background-size: 10.125rem 2.875rem;
  -ms-background-size: 10.125rem 2.875rem;
  background-size: 10.125rem 2.875rem;
  background-image: url("../resources/images/logo.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: auto;
  display: block;
}
.logo.logoInverse {
  background-position: bottom center;
}
.contactPhone {
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 6px 30px 6px 30px;
  padding: 0.375rem 1.875rem 0.375rem 1.875rem;
  color: #c7c8cd;
  border: 1px solid #c7c8cd;
  margin: 0 auto;
}
.contactPhone > span {
  padding-left: 5px;
  padding-left: 0.3125rem;
  font-weight: 700;
  color: #0073ae;
}
.socials {
  display: flex;
  justify-content: center;
}
.socials > a {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin: 0px 0px 0px 10px;
  margin: 0rem 0rem 0rem 0.625rem;
  border-radius: 3px;
  background-clip: padding-box;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  background-color: #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials > a > img[src$=".svg"] {
  width: 60%;
  height: 55%;
}
.socials > a:hover.envelope,
.socials > a:active.envelope {
  background-color: #ff8900;
}
.socials > a:hover.linkedin,
.socials > a:active.linkedin {
  background-color: #0088c0;
}
.socials > a:hover.google-plus,
.socials > a:active.google-plus {
  background-color: #db3421;
}
.socials > a:hover.twitter,
.socials > a:active.twitter {
  background-color: #00aef1;
}
.socials > a:hover.facebook,
.socials > a:active.facebook {
  background-color: #3362a1;
}
.arrowhead {
  font-size: 16px;
  font-size: 1rem;
  margin: 18px 0px 0px 0px;
  margin: 1.125rem 0rem 0rem 0rem;
  text-transform: none;
  position: absolute;
  left: 50%;
  top: 100%;
  white-space: nowrap;
  font-weight: 400;
}
.arrowhead::before {
  width: 47px;
  width: 2.9375rem;
  height: 22px;
  height: 1.375rem;
  -webkit-background-size: 15.3125rem 3.375rem;
  -moz-background-size: 15.3125rem 3.375rem;
  -o-background-size: 15.3125rem 3.375rem;
  -ms-background-size: 15.3125rem 3.375rem;
  background-size: 15.3125rem 3.375rem;
  background-image: url("../resources/images/icons.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  background-position: -0.3125rem -0.3125rem;
  margin-right: 15px;
  margin-right: 0.9375rem;
  top: -9px;
  top: -0.5625rem;
  content: "";
  display: block;
  float: left;
  position: relative;
}
.learnMore {
  padding: 0px 25px 0px 25px;
  padding: 0rem 1.5625rem 0rem 1.5625rem;
}
.learnMore::after {
  width: 14px;
  width: 0.875rem;
  height: 14px;
  height: 0.875rem;
  -webkit-background-size: 15.3125rem 3.375rem;
  -moz-background-size: 15.3125rem 3.375rem;
  -o-background-size: 15.3125rem 3.375rem;
  -ms-background-size: 15.3125rem 3.375rem;
  background-size: 15.3125rem 3.375rem;
  background-image: url("../resources/images/icons.png");
  background-repeat: no-repeat;
  background-position: -104px -5px;
  background-position: -6.5rem -0.3125rem;
  margin-left: 15px;
  margin-left: 0.9375rem;
  content: "";
  display: inline-block;
}
.constituentsCircle {
  width: 550px;
  width: 34.375rem;
  height: 550px;
  height: 34.375rem;
  position: relative;
}
.constituentsCircle [class^="circleItem-"] > a {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  margin: -38.5px 0px 0px -38.5px;
  margin: -2.40625rem 0rem 0rem -2.40625rem;
  border-radius: 77px;
  background-clip: padding-box;
  width: 77px;
  width: 4.8125rem;
  height: 77px;
  height: 4.8125rem;
  -webkit-background-size: 9.625rem 57.75rem;
  -moz-background-size: 9.625rem 57.75rem;
  -o-background-size: 9.625rem 57.75rem;
  -ms-background-size: 9.625rem 57.75rem;
  background-size: 9.625rem 57.75rem;
  background-image: url("../resources/images/circle-icons.png");
  background-repeat: no-repeat;
  background-color: #0073ae;
  position: absolute;
  display: flex;
  justify-content: center;
}
.constituentsCircle [class^="circleItem-"] > a:hover,
.constituentsCircle [class^="circleItem-"] > a:active {
  -moz-opacity: 0.74;
  -khtml-opacity: 0.74;
  opacity: 0.74;
  background-color: #0090c2;
}
.constituentsCircle [class^="circleItem-"] > span {
  width: 200px;
  width: 12.5rem;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: -7px;
  margin-top: -0.4375rem;
  padding: 0px 25px 0px 25px;
  padding: 0rem 1.5625rem 0rem 1.5625rem;
  color: #585858;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 100%;
}
.constituentsCircle .circleItem-0 > a {
  background-position: 0px -847px;
  background-position: 0rem -52.9375rem;
  left: 50%;
  top: 0%;
}
.constituentsCircle .circleItem-0 > span {
  left: 50%;
  top: -6%;
}
.constituentsCircle .circleItem-0 > span {
  margin-left: -100px;
  margin-left: -6.25rem;
  margin-top: 15px;
  margin-top: 0.9375rem;
  text-align: center;
}
.constituentsCircle .circleItem-0 > span {
  margin-top: -29px;
  margin-top: -1.8125rem;
}
.constituentsCircle .circleItem-1 > a {
  background-position: 0px -770px;
  background-position: 0rem -48.125rem;
  left: 75%;
  top: 6.69872981%;
}
.constituentsCircle .circleItem-1 > span {
  left: 78%;
  top: 1.50257739%;
}
.constituentsCircle .circleItem-2 > a {
  background-position: 0px -693px;
  background-position: 0rem -43.3125rem;
  left: 93.30127019%;
  top: 25%;
}
.constituentsCircle .circleItem-2 > span {
  left: 98.49742261%;
  top: 22%;
}
.constituentsCircle .circleItem-3 > a {
  background-position: 0px -616px;
  background-position: 0rem -38.5rem;
  left: 100%;
  top: 50%;
}
.constituentsCircle .circleItem-3 > span {
  left: 106%;
  top: 50%;
}
.constituentsCircle .circleItem-4 > a {
  background-position: 0px -539px;
  background-position: 0rem -33.6875rem;
  left: 93.30127019%;
  top: 75%;
}
.constituentsCircle .circleItem-4 > span {
  left: 98.49742261%;
  top: 78%;
}
.constituentsCircle .circleItem-5 > a {
  background-position: 0px -462px;
  background-position: 0rem -28.875rem;
  left: 75%;
  top: 93.30127019%;
}
.constituentsCircle .circleItem-5 > span {
  left: 78%;
  top: 98.49742261%;
}
.constituentsCircle .circleItem-6 > a {
  background-position: 0px -385px;
  background-position: 0rem -24.0625rem;
  left: 50%;
  top: 100%;
}
.constituentsCircle .circleItem-6 > span {
  left: 50%;
  top: 106%;
}
.constituentsCircle .circleItem-6 > span {
  margin-left: -100px;
  margin-left: -6.25rem;
  margin-top: 15px;
  margin-top: 0.9375rem;
  text-align: center;
}
.constituentsCircle .circleItem-7 > a {
  background-position: 0px -308px;
  background-position: 0rem -19.25rem;
  left: 25%;
  top: 93.30127019%;
}
.constituentsCircle .circleItem-7 > span {
  left: 22%;
  top: 98.49742261%;
}
.constituentsCircle .circleItem-7 > span {
  margin-left: -200px;
  margin-left: -12.5rem;
  text-align: right;
}
.constituentsCircle .circleItem-8 > a {
  background-position: 0px -231px;
  background-position: 0rem -14.4375rem;
  left: 6.69872981%;
  top: 75%;
}
.constituentsCircle .circleItem-8 > span {
  left: 1.50257739%;
  top: 78%;
}
.constituentsCircle .circleItem-8 > span {
  margin-left: -200px;
  margin-left: -12.5rem;
  text-align: right;
}
.constituentsCircle .circleItem-9 > a {
  background-position: 0px -154px;
  background-position: 0rem -9.625rem;
  left: 0%;
  top: 50%;
}
.constituentsCircle .circleItem-9 > span {
  left: -6%;
  top: 50%;
}
.constituentsCircle .circleItem-9 > span {
  margin-left: -200px;
  margin-left: -12.5rem;
  text-align: right;
}
.constituentsCircle .circleItem-10 > a {
  background-position: 0px -77px;
  background-position: 0rem -4.8125rem;
  left: 6.69872981%;
  top: 25%;
}
.constituentsCircle .circleItem-10 > span {
  left: 1.50257739%;
  top: 22%;
}
.constituentsCircle .circleItem-10 > span {
  margin-left: -200px;
  margin-left: -12.5rem;
  text-align: right;
}
.constituentsCircle .circleItem-11 > a {
  background-position: 0px 0px;
  background-position: 0rem 0rem;
  left: 25%;
  top: 6.69872981%;
}
.constituentsCircle .circleItem-11 > span {
  left: 22%;
  top: 1.50257739%;
}
.constituentsCircle .circleItem-11 > span {
  margin-left: -200px;
  margin-left: -12.5rem;
  text-align: right;
}
.tripleGrid {
  margin: 20px 40px 20px 40px;
  margin: 1.25rem 2.5rem 1.25rem 2.5rem;
  display: flex;
}
.tripleGrid > div {
  padding: 17px 20px 17px 20px;
  padding: 1.0625rem 1.25rem 1.0625rem 1.25rem;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  flex: 1;
}
.tripleGrid > div:nth-child(2) {
  border-radius: 5px;
  background-clip: padding-box;
  padding: 30px 40px 30px 40px;
  padding: 1.875rem 2.5rem 1.875rem 2.5rem;
  margin: -5px -5px -5px -5px;
  margin: -0.3125rem -0.3125rem -0.3125rem -0.3125rem;
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;
  border: none;
  z-index: 5;
  flex: 1.12;
}
.tripleGrid > div:first-child {
  padding-right: 25px;
  padding-right: 1.5625rem;
}
.tripleGrid > div:last-child {
  padding-left: 25px;
  padding-left: 1.5625rem;
}
.bullno,
.bull {
  width: 14px;
  width: 0.875rem;
  height: 14px;
  height: 0.875rem;
  border-radius: 14px;
  background-clip: padding-box;
  border: 1px solid #aeaeae;
}
.bull {
  background-color: #00b058;
  border-color: #00b058;
}
.overlay {
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay .close {
  padding: 5px 0px 5px 0px;
  padding: 0.3125rem 0rem 0.3125rem 0rem;
  font-size: 16px;
  font-size: 1rem;
  position: absolute;
  bottom: 100%;
  right: 0;
  color: #fff;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
.overlay .close:hover,
.overlay .close:active {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.overlay .popup {
  margin: -180px 0px 0px -320px;
  margin: -11.25rem 0rem 0rem -20rem;
  width: 640px;
  width: 40rem;
  height: 360px;
  height: 22.5rem;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
}
/*
Global
==========================================
Defines the global styles.

*/
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
body {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  color: #585858;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 980px;
  width: 61.25rem;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: #ff8900;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
a:hover,
a:active {
  color: #ff9d2a;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 26px;
  line-height: 1.625rem;
  margin: 28px 0px 10px 0px;
  margin: 1.75rem 0rem 0.625rem 0rem;
  font-weight: 300;
  color: #0073ae;
}
h1 {
  font-size: 48px;
  font-size: 3rem;
  margin: 5px 0px 20px 0px;
  margin: 0.3125rem 0rem 1.25rem 0rem;
  line-height: 52px;
  line-height: 3.25rem;
}
h2 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 44px;
  line-height: 2.75rem;
  margin: 72px 40px 72px 40px;
  margin: 4.5rem 2.5rem 4.5rem 2.5rem;
  text-align: center;
}
h3 {
  font-size: 32px;
  font-size: 2rem;
  margin: 20px 0px 20px 0px;
  margin: 1.25rem 0rem 1.25rem 0rem;
}
h4 {
  font-size: 30px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 400;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #585858;
  font-weight: 700;
}
h6 {
  font-size: 18px;
  font-size: 1.125rem;
}
p {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0px 0px 20px 0px;
  margin: 0rem 0rem 1.25rem 0rem;
}
b,
strong {
  font-weight: 700;
}
sub,
sup {
  font-size: 64%;
}
header .topHeader {
  padding: 14px 0px 14px 0px;
  padding: 0.875rem 0rem 0.875rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}
header .topHeader:after {
  content: "";
  display: table;
  clear: both;
}
header .topHeader .socials {
  margin-left: auto;
}
header .topBannerWrapper {
  width: 980px;
  width: 61.25rem;
  height: 463px;
  height: 28.9375rem;
  -webkit-background-size: 61.25rem 28.9375rem;
  -moz-background-size: 61.25rem 28.9375rem;
  -o-background-size: 61.25rem 28.9375rem;
  -ms-background-size: 61.25rem 28.9375rem;
  background-size: 61.25rem 28.9375rem;
  background-image: url("../resources/images/top-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 35px;
  margin-top: 2.1875rem;
  padding: 35px 25px 35px 20px;
  padding: 2.1875rem 1.5625rem 2.1875rem 1.25rem;
  min-height: 463px;
  min-height: 28.9375rem;
  height: auto;
  background-position: top center;
  color: #fff;
}
header .topBannerWrapper:after {
  content: "";
  display: table;
  clear: both;
}
header .topBannerWrapper .topBannerInfo {
  width: 75%;
  float: left;
  color: #fff;
}
header .topBannerWrapper .topBannerInfo *:first-child {
  margin-top: 0;
}
header .topBannerWrapper .topBannerInfo > h1 {
  width: 550px;
  width: 34.375rem;
  color: #fff;
}
header .topBannerWrapper .topBannerInfo > p {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
header .topBannerWrapper .topBannerInfo > ul {
  width: 400px;
  width: 25rem;
}
header .topBannerWrapper .topBannerInfo > ul:after {
  content: "";
  display: table;
  clear: both;
}
header .topBannerWrapper .topBannerInfo > ul > li {
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
  font-size: 18px;
  font-size: 1.125rem;
  width: 50%;
  list-style: none;
  float: left;
}
header .topBannerWrapper .topBannerInfo > ul > li::before {
  border-radius: 8px;
  background-clip: padding-box;
  margin-right: 10px;
  margin-right: 0.625rem;
  width: 8px;
  width: 0.5rem;
  height: 8px;
  height: 0.5rem;
  content: "";
  display: inline-block;
  background-color: #ff8900;
}
header .topBannerWrapper .topBannerInfo > [class^="button"] {
  margin: 18px 0px 0px 10px;
  margin: 1.125rem 0rem 0rem 0.625rem;
  float: left;
}
header .topBannerWrapper .topBannerInfo > [class^="button"] .button {
  width: 220px;
  width: 13.75rem;
}
header .topBannerWrapper .topBannerInfo > [class^="button"] .button.isSecondary {
  line-height: 25px;
  line-height: 1.5625rem;
  padding: 10px 10px 10px 10px;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}
header .topBannerWrapper .topBannerInfo > [class^="button"].buttonPrimaryWrapper {
  margin-left: 0;
  position: relative;
}
header .topBannerWrapper .topBannerVideo {
  margin: 10px 0px 10px 0px;
  margin: 0.625rem 0rem 0.625rem 0rem;
  font-size: 14px;
  font-size: 0.875rem;
  color: #67c8ff;
  width: 22%;
  display: table;
  float: right;
}
header .topBannerWrapper .topBannerVideo:hover {
  text-decoration: underline;
}
header .topBannerWrapper .topBannerVideo > span {
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
  display: table-cell;
  vertical-align: middle;
}
header .topBannerWrapper .topBannerVideo::before {
  width: 41px;
  width: 2.5625rem;
  height: 41px;
  height: 2.5625rem;
  -webkit-background-size: 15.3125rem 3.375rem;
  -moz-background-size: 15.3125rem 3.375rem;
  -o-background-size: 15.3125rem 3.375rem;
  -ms-background-size: 15.3125rem 3.375rem;
  background-size: 15.3125rem 3.375rem;
  background-image: url("../resources/images/icons.png");
  background-repeat: no-repeat;
  background-position: -199px -5px;
  background-position: -12.4375rem -0.3125rem;
  padding-right: 8px;
  padding-right: 0.5rem;
  content: "";
  display: table-cell;
  vertical-align: middle;
}
header .boosts {
  margin: 30px 0px 30px 0px;
  margin: 1.875rem 0rem 1.875rem 0rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
header .boosts .boostImage,
header .boosts .boostDigit {
  height: 60px;
  height: 3.75rem;
  line-height: 45px;
  line-height: 2.8125rem;
  font-size: 58px;
  font-size: 3.625rem;
  color: #ff8900;
}
header .boosts .boostImage img,
header .boosts .boostDigit img {
  margin: 0 auto;
}
header .boosts > [class^="boost"] {
  flex: 1;
}
header .boosts > [class^="boost"] p {
  padding: 0px 35px 0px 35px;
  padding: 0rem 2.1875rem 0rem 2.1875rem;
}
header .boosts .boostPeople .boostDigit::before {
  width: 60px;
  width: 3.75rem;
  height: 44px;
  height: 2.75rem;
  -webkit-background-size: 15.3125rem 3.375rem;
  -moz-background-size: 15.3125rem 3.375rem;
  -o-background-size: 15.3125rem 3.375rem;
  -ms-background-size: 15.3125rem 3.375rem;
  background-size: 15.3125rem 3.375rem;
  background-image: url("../resources/images/icons.png");
  background-repeat: no-repeat;
  background-position: -128px -5px;
  background-position: -8rem -0.3125rem;
  margin-right: 10px;
  margin-right: 0.625rem;
  content: "";
  display: inline-block;
}
.constituents {
  background-color: #f8f8f8;
  padding: 72px 0px 0px 0px;
  padding: 4.5rem 0rem 0rem 0rem;
}
.constituents .container > *:first-child {
  margin-top: 0;
}
.constituents .constituentsCircle {
  margin: 90px 0px 90px 0px;
  margin: 5.625rem 0rem 5.625rem 0rem;
  width: 544px;
  width: 34rem;
  height: 544px;
  height: 34rem;
  -webkit-background-size: 34rem 34rem;
  -moz-background-size: 34rem 34rem;
  -o-background-size: 34rem 34rem;
  -ms-background-size: 34rem 34rem;
  background-size: 34rem 34rem;
  background-image: url("../resources/images/constituents.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
.constituents .learnMoreWrapper {
  padding: 30px 0px 30px 0px;
  padding: 1.875rem 0rem 1.875rem 0rem;
  background-color: #f2f2f2;
  text-align: center;
}
.useCases {
  text-align: center;
}
.useCases .useCaseWrapper {
  margin-top: -100px;
  margin-top: -6.25rem;
  text-align: left;
}
.useCases .useCaseWrapper .useCaseRow {
  height: 390px;
  height: 24.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.useCases .useCaseWrapper .useCaseRow img {
  margin: 0 auto;
}
.useCases .useCaseWrapper .useCaseRow .useCaseMiddleCell {
  width: 260px;
  width: 16.25rem;
  height: 100%;
  position: relative;
}
.useCases .useCaseWrapper .useCaseRow .useCaseMiddleCell::after {
  width: 143px;
  width: 8.9375rem;
  height: 143px;
  height: 8.9375rem;
  -webkit-background-size: 44.6875rem 8.9375rem;
  -moz-background-size: 44.6875rem 8.9375rem;
  -o-background-size: 44.6875rem 8.9375rem;
  -ms-background-size: 44.6875rem 8.9375rem;
  background-size: 44.6875rem 8.9375rem;
  background-image: url("../resources/images/use-case-icons.png");
  background-repeat: no-repeat;
  margin: -71.5px 0px 0px -71.5px;
  margin: -4.46875rem 0rem 0rem -4.46875rem;
  border-radius: 143px;
  background-clip: padding-box;
  content: "";
  display: block;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  background-position: 0 0;
}
.useCases .useCaseWrapper .useCaseRow .useCaseMiddleCell::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #e8e8e8;
  margin-left: -0.5px;
  left: 50%;
  position: absolute;
}
.useCases .useCaseWrapper .useCaseRow .useCaseLeftCell,
.useCases .useCaseWrapper .useCaseRow .useCaseRightCell {
  flex: 1;
}
.useCases .useCaseWrapper .useCaseRow:first-child .useCaseMiddleCell::before {
  height: 50%;
  bottom: 0;
}
.useCases .useCaseWrapper .useCaseRow:last-child .useCaseMiddleCell::before {
  height: 50%;
}
.useCases .useCaseWrapper .useCaseRow:nth-child(1) .useCaseMiddleCell::after {
  background-position: 0px 0px;
  background-position: 0rem 0rem;
}
.useCases .useCaseWrapper .useCaseRow:nth-child(2) .useCaseMiddleCell::after {
  background-position: -143px 0px;
  background-position: -8.9375rem 0rem;
}
.useCases .useCaseWrapper .useCaseRow:nth-child(3) .useCaseMiddleCell::after {
  background-position: -286px 0px;
  background-position: -17.875rem 0rem;
}
.useCases .useCaseWrapper .useCaseRow:nth-child(4) .useCaseMiddleCell::after {
  background-position: -429px 0px;
  background-position: -26.8125rem 0rem;
}
.useCases .useCaseWrapper .useCaseRow:nth-child(5) .useCaseMiddleCell::after {
  background-position: -572px 0px;
  background-position: -35.75rem 0rem;
}
.useCases .learnMoreWrapper {
  margin-top: 35px;
  margin-top: 2.1875rem;
  position: relative;
}
.useCases .learnMoreWrapper::before {
  content: "";
  display: block;
  background: #e8e8e8;
  width: 100%;
  height: 1px;
  top: 50%;
  position: absolute;
}
.useCases .learnMoreWrapper .learnMore {
  outline-width: 25px;
  outline-width: 1.5625rem;
  outline-style: solid;
  outline-color: #fff;
}
.plans {
  text-align: center;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
.plans > h2 {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.plans .plansPreview {
  margin: 65px 40px 80px 40px;
  margin: 4.0625rem 2.5rem 5rem 2.5rem;
}
.plans .plansPreview [class^="planType"] {
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #0073ae;
  color: #fff;
}
.plans .plansPreview [class^="planType"] > h4 {
  margin: 0px 0px 8px 0px;
  margin: 0rem 0rem 0.5rem 0rem;
  color: #fff;
}
.plans .plansPreview [class^="planType"] > p {
  font-size: 13.99px;
  font-size: 0.874375rem;
  line-height: 16px;
  line-height: 1rem;
  padding: 0px 45px 0px 45px;
  padding: 0rem 2.8125rem 0rem 2.8125rem;
  margin: 0;
}
.plans .plansPreview [class^="planType"] .planPrice {
  padding: 22px 0px 22px 0px;
  padding: 1.375rem 0rem 1.375rem 0rem;
  margin: 15px 0px 0px 0px;
  margin: 0.9375rem 0rem 0rem 0rem;
  border-top: 1px solid #0093df;
}
.plans .plansPreview [class^="planType"] .planPrice > span {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}
.plans .plansPreview [class^="planType"] .planPrice > span:first-child {
  font-size: 17.58px;
  font-size: 1.09875rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
}
.plans .plansPreview [class^="planType"] .planPrice > big {
  padding-top: 12px;
  padding-top: 0.75rem;
  font-size: 74.26px;
  font-size: 4.64125rem;
  font-weight: 700;
  line-height: 1;
}
.plans .plansPreview [class^="planType"] .planPrice > big sup {
  padding: 0px 5px 0px 5px;
  padding: 0rem 0.3125rem 0rem 0.3125rem;
  font-size: 38.63px;
  font-size: 2.414375rem;
  vertical-align: super;
  position: static;
}
.plans .plansPreview [class^="planType"] .planPrice > big .currency {
  font-size: 15.71px;
  font-size: 0.981875rem;
  position: relative;
  top: -0.9em;
}
.plans .plansPreview [class^="planType"] .button {
  padding: 0px 40px 0px 40px;
  padding: 0rem 2.5rem 0rem 2.5rem;
}
.plans .plansPreview [class^="planType"].planTypeStandart {
  margin: -20px -5px -20px -5px;
  margin: -1.25rem -0.3125rem -1.25rem -0.3125rem;
  -moz-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;
  color: #585858;
}
.plans .plansPreview [class^="planType"].planTypeStandart > h4 {
  color: #0073ae;
}
.plans .plansPreview [class^="planType"].planTypeStandart .planPrice {
  margin-top: 18px;
  margin-top: 1.125rem;
  padding: 26px 0px 26px 0px;
  padding: 1.625rem 0rem 1.625rem 0rem;
  border-color: #e5e5e5;
}
.plans .plansPreview [class^="planType"].planTypeStandart .planPrice > big {
  color: #0073ae;
}
.plans .plansOption > div {
  min-height: 68px;
  min-height: 4.25rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plans .plansOption > div > h5 {
  margin-bottom: 0;
}
.groupon {
  background-color: #333333;
  color: #fff;
}
.groupon > .container {
  padding: 90px 28px 90px 28px;
  padding: 5.625rem 1.75rem 5.625rem 1.75rem;
  display: flex;
  align-items: center;
}
.groupon > .container > p {
  margin: 0px 0px 0px 58px;
  margin: 0rem 0rem 0rem 3.625rem;
  font-size: 32px;
  font-size: 2rem;
  line-height: normal;
}
.finalScreen {
  -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  background-clip: padding-box;
  padding: 62px 145px 62px 145px;
  padding: 3.875rem 9.0625rem 3.875rem 9.0625rem;
  margin-top: 45px;
  margin-top: 2.8125rem;
  margin-bottom: 45px;
  margin-bottom: 2.8125rem;
}
.finalScreen > h2 {
  padding: 0px 30px 0px 30px;
  padding: 0rem 1.875rem 0rem 1.875rem;
  margin-top: 0;
}
.finalScreen .buttonsWrapper {
  margin-top: 110px;
  margin-top: 6.875rem;
  display: flex;
}
.finalScreen .buttonsWrapper > [class^="button"] {
  margin: 0px 0px 0px 70px;
  margin: 0rem 0rem 0rem 4.375rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.finalScreen .buttonsWrapper > [class^="button"]:first-child {
  margin-left: 0;
}
.finalScreen .buttonsWrapper > [class^="button"] .button {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
.finalScreen .buttonsWrapper .buttonPrimaryWrapper {
  position: relative;
}
.finalScreen .buttonsWrapper .buttonPrimaryWrapper .arrowhead {
  margin: 0px 0px 15px 12px;
  margin: 0rem 0rem 0.9375rem 0.75rem;
  bottom: 100%;
  top: auto;
  left: 0;
}
.finalScreen .buttonsWrapper .buttonPrimaryWrapper .arrowhead::before {
  width: 32px;
  width: 2rem;
  height: 21px;
  height: 1.3125rem;
  -webkit-background-size: 15.3125rem 3.375rem;
  -moz-background-size: 15.3125rem 3.375rem;
  -o-background-size: 15.3125rem 3.375rem;
  -ms-background-size: 15.3125rem 3.375rem;
  background-size: 15.3125rem 3.375rem;
  background-image: url("../resources/images/icons.png");
  background-repeat: no-repeat;
  background-position: -62px -5px;
  background-position: -3.875rem -0.3125rem;
  top: 12px;
  top: 0.75rem;
}
.finalScreen .buttonsWrapper .buttonPrimaryWrapper > ul > li {
  margin-top: 7px;
  margin-top: 0.4375rem;
  font-size: 18px;
  font-size: 1.125rem;
  list-style: none;
}
.finalScreen .buttonsWrapper .buttonPrimaryWrapper > ul > li:after {
  content: "";
  display: table;
  clear: both;
}
.finalScreen .buttonsWrapper .buttonPrimaryWrapper > ul > li::before {
  width: 7px;
  width: 0.4375rem;
  height: 7px;
  height: 0.4375rem;
  border-radius: 7px;
  background-clip: padding-box;
  margin: 8px 10px 8px 0px;
  margin: 0.5rem 0.625rem 0.5rem 0rem;
  content: "";
  background-color: #ff8900;
  display: block;
  float: left;
}
.finalScreen .buttonsWrapper .contactPhone {
  font-size: 16px;
  font-size: 1rem;
  padding: 10px 10px 10px 10px;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  width: 100%;
  text-align: center;
}
.finalScreen .buttonsWrapper .contactPhone > span {
  font-size: 24px;
  font-size: 1.5rem;
  display: block;
  padding: 0;
}
footer {
  margin-top: 45px;
  margin-top: 2.8125rem;
  background-color: #303030;
  color: #d4d4d4;
}
footer .footerLogos {
  padding: 38px 0px 38px 0px;
  padding: 2.375rem 0rem 2.375rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerLogos .trustLogos {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerExtra {
  padding: 30px 0px 30px 0px;
  padding: 1.875rem 0rem 1.875rem 0rem;
  border-top: 1px solid #d4d4d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerExtra * {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 0;
}
footer .footerExtra ul > li {
  padding: 0px 7px 0px 7px;
  padding: 0rem 0.4375rem 0rem 0.4375rem;
  list-style: none;
  float: left;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid transparent;
  line-height: 0.8;
}
footer .footerExtra ul > li:first-child {
  border-left: none;
}
footer .footerExtra ul > li:last-child {
  padding-right: 0;
  border-right: none;
}
footer .footerExtra ul > li a {
  color: #d4d4d4;
}
footer .footerExtra ul > li a:hover {
  color: #d4d4d4;
  text-decoration: underline;
}
