// Base configuration
@remScaleFactor: 16;
@font-size-base: 20;

// Headling font sizes
@font-size-h1: 48;
@font-size-h2: 48;
@font-size-h3: 32;
@font-size-h4: 30;
@font-size-h5: 20;
@font-size-h6: 18;

// Buttons
@button-font-size: 18;

// Form
@label-font-size: @font-size-base;
@input-font-size: @font-size-base;

// Font weight
@font-weight-normal: 300;
@font-weight-medium: 400;
@font-weight-bold: 700;

















