footer {
	.unitize(margin-top, 45);
	background-color: @gray-dark;
	color: @gray;

	.footerLogos {
		.unitize-padding(38, 0);
		display: flex;
		justify-content: space-between;
		align-items: center;

		.trustLogos {
			width: 50%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.footerExtra {
		.unitize-padding(30, 0);
		border-top: 1px solid @gray;
		display: flex;
		justify-content: space-between;
		align-items: center;

		* {
			.unitize(12);
			margin: 0;
		}

		ul {
			> li {
				.unitize-padding(0, 7);
				list-style: none;
				float: left;
				border-left: 1px solid @gray;
				border-right: 1px solid transparent;
				line-height: 0.8;

				&:first-child {
					border-left: none;
				}

				&:last-child {
					padding-right: 0;
					border-right: none;
				}

				a {

					color: @gray;

					&:hover {
						color: @gray;
						text-decoration: underline;
					}
				}

			}
		}
	}
}