.useCases {
    text-align: center;

    .useCaseWrapper {
        .unitize(margin-top, -100);
        text-align: left;

        .useCaseRow {
            .unitize-height(390);
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                margin: 0 auto;
            }

            .useCaseMiddleCell {
                .unitize-width(260);
                height: 100%;
                position: relative;

                &::after {
                    .unitize-background-size(91, 91);
                    .unitize-width(144);
                    .unitize-height(144);
                    .unitize-margin(-72, 0, 0, -72);
                    .border-radius(144px);
                    content: "";
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    border: 1px solid @gray-medium;
                    background-color: @body-bg;
                    top: 50%;
                    left: 50%;
                    position: absolute;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 100%;
                    background: @gray-medium;
                    margin-left: -0.5px;
                    left: 50%;
                    position: absolute;
                }
            }

            .useCaseLeftCell, .useCaseRightCell {
                flex: 1;
            }

            &:first-child .useCaseMiddleCell::before {
                height: 50%;
                bottom: 0;
            }

            &:last-child .useCaseMiddleCell::before {
                height: 50%;
            }

            // Generate use case icon
            @useCaseIconsCount: 5;

            .generateUseCaseIcon(@i: 1) when (@i <= @useCaseIconsCount) {
                &:nth-child(@{i}) .useCaseMiddleCell::after {
                    background-image: url("@{imagesPath}/use-case/icon-@{i}.jpg");
                }

                .generateUseCaseIcon(@i + 1);
            }

            .generateUseCaseIcon();
        }
    }

    .learnMoreWrapper {
        .unitize(margin-top, 35);
        position: relative;

        &::before {
            content: "";
            display: block;
            background: @gray-medium;
            width: 100%;
            height: 1px;
            top: 50%;
            position: absolute;
        }

        .learnMore {
            .unitize(outline-width, 25);
            outline-style: solid;
            outline-color: @body-bg;
        }

    }
}